<mat-sidenav-container>
    <mat-sidenav #sideNav>
      <p>I'm the side nav</p>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div><button (click)="sideNav.toggle()">Toogle Sidenav</button></div>
        <div>Logo</div>
        <div><a routerLink="/signup">Sign-up</a></div>
        <div><a routerLink="/login">Login</a></div>
        <div><a routerLink="/training">Training</a></div>

      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


